<div class="container">
<%= bootstrap_form_for(produto) do |f| %>

  <div class="field">
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.text_field :preco %>
  </div>

  <div class="field">
    <%= f.text_field :desc %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
