<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preco</th>
      <th>Descrição</th>
      <th>Image</th>
      <th>Vendedor</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.desc %></td>
        <td><%= image_tag produto.image_url(:thumb) if produto.image.present? %></td>
        <td><%= produto.user.name %></td>
        <td><%= produto.user.tel %></td>
        
        <td><%= link_to 'Show', produto %></td>
        <% if current_user == produto.user %>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
<%= paginate @produtos %>